/* ページ */
#page {
  width: 980px;
  margin: 0 auto;
}

/* ページ上部 */
#pageHead .gloabalNavi ul:after {
  content: "";
  clear: both;
  display: block;
}

#pageHead .globalNavi ul li {
  width: 122.5px;
  float: left;
}

#pageHead .globalNavi ul {
  margin: 0;
  padding: 0;
}

/* トピックパス */
.topicPath {
  background-color: #eee;
}

/* 会社概要の装飾 */
#pageBodyMain {
  width:700px;
  float: left;
}

#pageBodyMain table {
  border-top: 4px solid #0055a9;
}

#pageBodyMain table th,
table td {
  border-bottom: 1px solid #CCCCCC;
}

/* ページ右側　企業情報について */
#pageBodySub .localNavi {
  background-color: #f5f5f5;
}

#pageBodySub:after {
  content: "";
  clear: both;
  display: block;
}

#pageBodySub .localNavi {
  wodth: 250px;
  float: right;
}

#pageBodySub .localNavi ul li{
  list-style: none;
}

/* グローバルナビの装飾 */
#pageHead .globalNavi ul li {
  list-style: none;
}

/* ページ下部、ページメニューの装飾 */
#pageMenu {
  background-color: #eaeaea;
}

#pageMenu:after {
  content: "";
  clear: both;
  display: block;
}

#pageMenu section {
  width: 280px;
  float: left;
}

/* ページ下部　条項 */
#pageFoot ul li {
  list-style: none;
}
