/* 会社概要の装飾 */
#pageBodyMain p {
  border-bottom: 1px solid #CCCCCC
}

#pageBodyMain table th,
table td {
  border-bottom: 1px solid #CCCCCC;
}

/* グローバルナビの装飾 */
#pageHead .globalNavi ul li {
  list-style: none;
}
