/* ページ */
body {
  line-height: 1.4;
  color: #333333;
}

#page {
  width: 1680px;
  height: 2407.78px;
  margin: 0 auto;
  border-top: 4px solid #0055a9;
}

/* ページ上部 */
#pageHead {
  width: 980px;
  height: 130px;
  margin: 0 auto;
}

#pageHead .gloabalNavi ul:after {
  content: "";
  clear: both;
  display: block;
}

#pageHead .globalNavi ul li {
  width: 122.5px;
  float: left;
}

#pageHead .globalNavi ul {
  margin: 0;
  padding: 0;
  display: block;
  height: 25px;
}

/* トピックパス */
.topicPath {
  background-color: #eee;
  width: 1680px;
  padding: 1em 0;
}



/* ページコンテンツの装飾 */
#pageContent {
  width:980px;
  height: 1161.78px;
  margin: 0 auto 20px;
  text-align: left;
}

/* ページトップ以下 */
#pageBody {
  width: 1680px;
  height: 1161.78px;
  margin: 0 auto;
}

/* 会社概要のボックスの装飾 */
#topSection {
  width: 700px;
  height: 97px;
}

/* 会社概要の内容の装飾 */
#pageBodyMain {
  width: 700px;
  height: 769px;
  float: left;
}

#pageBodyMain:after {
  content: "";
  clear: both;
  display: block;
}

#pageBodyMain h1 {
  margin: 0;
  padding: 0;
}

#pageBodyMain p {
  margin: 0;
  padding: 0;
}

#pageBodyMain table {
  border-top: 4px solid #0055a9;
  width: 700px;
  height: 769px;
}

#pageBodyMain table th,
table td {
  border-bottom: 1px solid #CCCCCC;
  padding: 20px 10px;
}

#pageBodyMain h1 {
  font-size: 24px;
}

#pageBodyMain p {
  font-size: 18px;
}

#pageBodyMain table {
  padding-top: 30px;
  border-collapse: collapse;
}

/* ページ右側　企業情報について */
#pageBodySub {
  height: 1064.78px;
  width: 250px;
  float: right;
}

#pageBodySub .localNavi {
  background-color: #f5f5f5;
  height: 528px;
  padding-bottom: 10px;
  margin-bottom: 1.2em;
}

#pageBodySub:after {
  content: "";
  clear: both;
  display: block;
}

#pageBodySub .localNavi ul li{
  list-style: none;
}

/* ページ右　企業案内ムービー*/
#pageBodySub .corpoIntroduce:after {
  content: "";
  clear: both;
  display: block;
}

#pageBodySub .corpoIntroduce {
  height: 236px;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 1.2em;
  background-color: #fff;
}

#pageBodySub .corpoIntroduce h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1em;
}

#pageBodySub .corpoIntroduce p {
  margin-top: 10px;
}

/* ページ右　企業パンフレット */
#pageBodySub  .corpoPamph:after {
  content: "";
  clear: both;
  display: block;
}

#pageBodySub .corpoPamph {
  height: 254px;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-bottom: 1.2em;
}

#pageBodySub .corpoPamph h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1em;
}

#pageBodySub .corpoPamph p {
  margin-top: 10px;
}

/* グローバルナビの装飾 */
#pageHead .globalNavi ul li {
  list-style: none;
}

/* ページ下部、ページメニューの装飾 */
#pageMenu {
  background-color: #eaeaea;
  width: 1680px;
  height: 886px;
}

#pageMenu:after {
  content: "";
  clear: both;
  display: block;
}

#pageMenu h2 {
  font-size: 16px;
  padding-bottom: 10px;
}

#pageMenu section {
  float: left;
}

#pageMenu ul li {
  list-style: none;
  margin-bottom: 0.2em;
}

#pageMenuContent {
  margin: 0 auto;
}

#pageMenuContent .companyInfo {
  width: 280px;
  height: 431px;
}

#pageMenuContent .companyInfo h3 {
  color: #777777;
  padding-bottom: 5px;
}

#pageMenuContent .companyInfo ul li {
  margin-bottom: 0.2em;
}

#pageMenuContent .companyInfo .management {
  width: 123.19px;
  height: 236.75px;
  margin-right: 20px;
}

#pageMenuContent .companyInfo .compInt {
  width: 123.19px;
  height: 359.34px;
}

#pageMenuContent .service {
  width: 161.56px;
  height: 431px;
}

#pageMenuContent .opinion {
  width: 150px;
  height: 431px;
}

#pageMenuContent .journal {
  width: 150px;
  height: 431px;
}

#pageMenuContent .action {
  width: 200px;
  height: 355px;
}

#pageMenuContent .IrInfo {
  width: 195px
  height: 355px;
}

#pageMenuContent .adoption {
  width: 150px;
  height: 355px;
}

#pageMenuContent .event {
  width: 177.75px;
  height: 355px;
}

#pageMenuContent {
  width: 980px;
  height: 846px;
}
/* ページ下部　条項 */
#pageFoot {
  width: 1680px;
  height: 101px;
}

#pageFootContent {
  width: 980px;
  margin: 0 auto;
}

#pageFoot ul li {
  list-style: none;
  font-size: 13px;
  line-height: 1.231;
}

#pageFoot ul li {
  width: 140px;
  float: left;
}

#pageFoot ul:after {
  content: "";
  clear: both;
  display: block;
}

#pageFootContent {
  padding: 1em 0;
}

#pageFootContent li {
  margin-bottom: 0.5em;
  color: #606060;
  padding: 0 0.5em;
}

#copyright {
  padding: 0.5em 0 0.2em;
  color: #606060;
}
